<div{{ attributes }}>
    {% if this.profile.imageFile %}
        {% set imageMarkup %}
            <img src="{{ image_url(this.profile.imageFile, 'x-large') }}"
                 class="img-fluid {{ this.additionalClasses }}" style="max-width: {{ this.width }}px;"/>
        {% endset %}
    {% else %}
        {% set imageMarkup %}
            <img src="{{ asset(this.getDefaultImage()) }}"
                 class="img-fluid {{ this.additionalClasses }}" style="max-width: {{ this.width }}px;"/>
        {% endset %}
    {% endif %}
    {{ imageMarkup }}
</div>
