<div {{ stimulus_controller('modal-common') }} class="dcCommonModal">
    <div class="modal fade" {{ stimulus_target('modal-common', 'modal') }} tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" {{ stimulus_target('modal-common', 'modalTitle') }}></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-left" {{ stimulus_target('modal-common', 'modalContent') }}></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            {{ stimulus_target('modal-common', 'declineText') }}>
                        Abbrechen
                    </button>
                    <button type="button" class="btn btn-primary" {{ stimulus_action('modal-common', 'submitCommonModal') }}
                            {{ stimulus_target('modal-common', 'submitText') }}>
                        {{ 'label.confirm'|trans() }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
